node_modules
npm-debug.log
dist
coverage
.git
.gitignore
.env
.env.local
.env.*.local
README.md
.vscode
.idea
.DS_Store
*.swp
*.swo
*~
.eslintignore
.prettierignore
test
.github
.gitlab-ci.yml
Jenkinsfile
docker-compose.yml
Dockerfile
.dockerignore
pnpm-debug.log
